a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

ol,
ul {
  all: unset;
  list-style: none;
}

.m1 {
  margin: 1em !important;
}

.m2 {
  margin: 2em !important;
}

.mt-2 {
  margin-top: 2em !important;
}

.ml-0 {
  margin-left: 0;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 1em;
}

.mb-0 {
  margin-bottom: 0;
}

.p1 {
  padding: 1em;
}

.p2 {
  padding: 2em;
}

.pl-0 {
  padding-left: 0;
}

.d-fl {
  display: flex;
}

.d-no {
  display: none;
}

.d-bl {
  display: block;
}

.fai-c {
  align-items: center;
}

.fjc-c {
  justify-content: center;
}

.fjc-sb {
  justify-content: space-between;
}

.fa-solid,
.fa-brands {
  width: 16px;
  height: 16px;
}